body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 400px;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
  }
  .general{
    display: flex;
    flex-direction: column;
    padding-top: 100px  ;
    align-items: center;
  }
  .content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .content2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para los contenedores en la sección de contenido */
  .content-item {
    flex: 0 0 calc(33.3333% - 20px);
    border: 2px solid #343a40; /* Borde sólido con color oscuro */
    padding: 20px; /* Espaciado interno */
    margin: 10px; /* Margen entre contenedores */
    text-align: center;
  }
  .content-item img {
    /* Estilos para las imágenes dentro de .content-item */
    max-width: 100%;
    height: auto;
    border: 1px solid #343a40;
    border-radius: 5px;
  }
  
    .footer {
      text-align: center;
      padding: 10px;
      background-color: #343a40;
      color: #fff;
      align-items: center;
      flex-shrink: 0;
      position: fixed;
      bottom: 0;
      flex-direction: column;
      width: 100%;
    }
  
    .logo {
      padding-left: 50px;
      margin-bottom: 20px;
      
      
    }
  
    .usuario button {
      width: 100%; /* Ancho del botón al 100% del contenedor padre */
      max-width: 200px; /* Ancho máximo para evitar que el botón se extienda demasiado */
      height: 50px; /* Reduzco la altura para adaptarse mejor a dispositivos más pequeños */
      font-size: 16px; /* Tamaño de fuente ajustado para dispositivos más pequeños */
      font-weight: bolder;
      color: white;
      margin-top: 10px; /* Espaciado superior */
      margin-bottom: 10px; /* Espaciado inferior */
    }
    
    
  
    .perfil {
      background-color: #98cef2; /* Color de fondo */
      width: 300px;
      height: 60px;
      font-weight: bolder;
      font-size: 25px;
      color: #000000; /* Color del texto */
      padding: 10px 20px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
      text-decoration: none; /* Quitar subrayado del enlace */
      border: none; /* Quitar el borde del botón */
      border-radius: 5px; /* Esquinas redondeadas */
      cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
    }

    .inicio {
      background-color: rgb(104, 18, 154); /* Color de fondo */
      width: 300px;
      height: 60px;
      font-weight: bolder;
      font-size: 25px;
      color: #000000; /* Color del texto */
      padding: 10px 20px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
      text-decoration: none; /* Quitar subrayado del enlace */
      border: none; /* Quitar el borde del botón */
      border-radius: 5px; /* Esquinas redondeadas */
      cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
    }
  
    /* Estilos para el botón con la clase "empleo" */
    .empleo {
      background-color: #ff9f9f;
      height: 60px;
      font-size: 23px;
      font-weight: bolder;
      width: 300px;
      color: #000000;
      padding: 10px 20px;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .social-icons {
      /* Estilos para los íconos de redes sociales */
      display: flex;
      gap: 10px; /* Espaciado entre los íconos */
    }
  
    .social-icons a {
      color: #ffffff; /* Color de los íconos */
      transition: color 0.3s; /* Transición suave del color durante 0.3 segundos */
    }
  
    .social-icons a:hover {
      color: rgb(106, 218, 255); /* Cambiar el color al pasar el cursor */
    }