<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="wrapper">
  <div class="sidebar">
    <div class="logo" style="padding-left: 59px; padding-top: 60px; height: 100px;">
      <h1>DASH<b>BOARD</b></h1>
    </div>
    <br><br><br><br>

    <nav>
      <div style="padding-left: 30px;">
        <button class="perfil" (click)="navigateToPerfil()"><i class="fa-solid fa-user">&nbsp;</i>Perfil</button>
      </div>
      <br><br>
      <div style="padding-left: 30px;">
        <button class="empleo" (click)="navigateToEmpleo()"><i class="fa-solid fa-clipboard">&nbsp;</i>Opciones de
          empleo</button>
      </div>

      <div class="usuario" style="padding-left: 80px; padding-top: 40px">
        <button class="btn btn-primary" (click)="logout()">CERRAR SESION</button>
      </div>
    </nav>
  </div>

  <div class="container">
    <br>
    <h2 class="text-center mb-4">OFERTAS DESTACADAS</h2>
    <div class="general">
      <div class="content">
        <div *ngFor="let oferta of ofertasTrabajo.slice(ofertasTrabajo.length - 3)" class="oferta border rounded p-3 mb-3">
          <h3>{{ oferta.nombre }}</h3>
          <p><strong>Empresa:</strong> {{ oferta.empresa }}</p>
          <p><strong>Puesto:</strong> {{ oferta.puesto }}</p>
          <p><a (click)="navigateToDetalle(oferta)" style="cursor: pointer; color: blue">Ver Detalles >>></a></p>
          <p><a (click)="navigateToHoja()" style="cursor: pointer; color: blue" >Enviar hoja de vida >>></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer social-icons" style="font-size: 25px;">
    <p>&copy; 2023 Tu Empresa </p>
    <div>
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp;
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
